[Trigger]
Operation = Upgrade
Operation = Install
Operation = Remove
Type = Package
Target = *

[Action]
Description = Cleaning pacman cache (installed)...
When = PostTransaction
Exec = /usr/bin/paccache -rk3
